table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}

th,
td {
  text-align: center;
  padding: 12px;
  vertical-align: middle;
  border-top: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

th:first-child,
td:first-child {
  border-left: 1px solid #e6e6e6;
}

th {
  background-color: #38435a;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

/* Style for the table heading */
thead th {
  font-weight: bold;
  text-transform: uppercase;
}

/* Style for the table body */
tbody td {
  border-bottom: 1px solid #e6e6e6;
}

/* Style for the Pass/Fail column */
td:last-child {
  font-weight: 600;
  background-color: #f8f8f8;
}

td:last-child[data-result="Pass"] {
  color: #00bfa5;
}

td:last-child[data-result="Fail"] {
  color: #ff1744;
}